<h1>Avisos</h1>

<div class="Avisos">
    <p>Ruta Aguaruto - Centro tendra un cambio de ruta por cuestiones de pavimentacion de calles en la calle Sinaloa de la Colonia.
        Ahora pasara por la calle Durango para evitar confusion o molestias a los usuarios de esta ruta.
    </p>
</div>

<div class="Avisos">
    <p>Calle Obregon por comunicado de proteccion civil, se informa que hubo un choque que mantendra la calle cerrada por un par de horas.
        Se recomienda consultar en la pagina si su ruta se ve afectada por tal hecho y buscar alternativas en su transporte.
    </p>
</div>

<div class="Avisos">
    <p>Por cuestiones de dias festivos, se alerta a la poblacion de Culiacan que todas las rutas cubiertas por nuestros camiones
        se veran afectadas por la decision de la empresa en reducir el numero de empleados trabajando el dia de hoy 25 de Diciembre.
    </p>
</div>