h1{
    margin-left: 22px;
    margin-right: 300px;
    margin-left: 550px;
}


.Avisos{
    border-style: solid;
    margin-right: 300px;
    margin-left: 300px;
    background-color: rgb(238, 144, 144);
    margin-bottom: 20px;
}

.container{
	background-color: #EEEEF1 ;
}