<h1>Avisos</h1>

<div class="Avisos">
    <p>Lorem ipsum dolor sit amet consectetur, 
       adipisicing elit. Eaque maxime magni, 
       nobis laborum enim magnam, voluptate officia, 
       distinctio explicabo quia officiis adipisci quisquam. 
       Libero, dolor quidem facere aspernatur veritatis dicta!
    </p>
</div>

<div class="Avisos">
    <p>Lorem ipsum dolor sit amet consectetur, 
       adipisicing elit. Eaque maxime magni, 
       nobis laborum enim magnam, voluptate officia, 
       distinctio explicabo quia officiis adipisci quisquam. 
       Libero, dolor quidem facere aspernatur veritatis dicta!
    </p>
</div>

<div class="Avisos">
    <p>Lorem ipsum dolor sit amet consectetur, 
       adipisicing elit. Eaque maxime magni, 
       nobis laborum enim magnam, voluptate officia, 
       distinctio explicabo quia officiis adipisci quisquam. 
       Libero, dolor quidem facere aspernatur veritatis dicta!
    </p>
</div>