<div class="container">
	
	<div class="row Encabezado">
		<div class="Titulo">
			<h2>Rutas De Camiones De Culiacan</h2>
		</div>
		<div>
			<img class="Imagenredplus Icono" src="../../../assets/img/logocamiones.png">
		</div>
	</div>

	<div class="row">
		<div class="col-md-1">
			<label>Ruta a elegir: </label>
		</div>
		<div class="col-md-2">
			<select class="form-control" [(ngModel)]="ruta">
				<option value="1">Canal 3</option>
				<option value="2">Loma de Rodriguera</option>
				<option value="3">Bugambilias</option>
        		<option value="4">Todas las rutas</option>
			</select>
		</div>
		<div class="col-md-2">
			<button (click)="CambiarMapa()" class="btn btn-primary Boton">Aceptar</button>
		</div>
	</div>

	<hr>

	<div class="row">
		<div id="Mapa">
			<iframe class="Mapa" id="Mapa" 
			width="600"
			height="450"
			style="border:0"
			loading="lazy"
			allowfullscreen
			referrerpolicy="no-referrer-when-downgrade"
			[src]="mapa | safe" >
			 </iframe>
		</div>
	</div>

</div>