.container{
			background-color: #EEEEF1 ;
		}
		
		div h2{
			margin-top: 10px;
		}

		.Encabezado
		{
			background-color: beige;
			border-style: groove;
		}


		.Titulo{
			
			height: 20px;
		}

		.Icono{
			margin-left: 450px;
		}

		.Imagenredplus{
			margin-top: 2px;
			margin-bottom: 20px;
			height: 20px;
		}

		.Boton{
			margin-top: 10px;
		}

		
		.Mapa{
			margin-top: 10px;
		}

		.form-control{
			margin-top: 10px;
		}

		hr{
			size: 20px;
			color: black;
		}