<div class="container-fluid footer">
    <div class="row">
        <!--  name  -->
        <div class="col-lg-6">
            <h1>Camiones De Culiacan
                <img src="../../../assets/img/logocamiones.png">
            </h1>
        </div>
        <!--  nav  -->
        <div class="col-lg-4">
            <a routerLink="">Inicio</a>
            <a routerLink="menu">Rutas</a>
            <a routerLink="horarios">Horarios</a>
            <a routerLink="about">Avisos</a>
            <a routerLink="contact">Contactanos</a>
        </div>
        <div class="col-lg-2">
            <p>Pagina creada por estudiantes todos los derechos reservados 2022.</p>
        </div>


    </div>
</div>