.footer {
    overflow: hidden;
    position: sticky;
    top: 100%;
    background-color: rgb(105, 26, 26);
    padding: 20px 10px;
}

h1 {
    font-weight: bold;
    color: #fff;
    font-size: 15px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 17px;
}

a:hover {
    color: var(--primary-color);
}

